* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Component section Begins */
body {
  background-color: rgb(177, 119, 218);
  /* width: 88%;
  margin: auto; */
}
.header-img {
  background-color: orange;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1201px) {
  .head-img {
    width: 100%;
  }
}

.header-menu-bar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 300px;
  width: 90%;
  margin: auto;
  height: 50px;
}
@media (max-width:973px) {
  .header-menu-bar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 100px;
    width: 90%;
    margin: auto;
    height: 50px;
  }
  
}
@media (max-width:630px) {
  .header-menu-bar{
    gap: 50px;
  }
}
@media (max-width:477px) {
  .header-menu-bar{
    display: none;
  }
  .search .button{
    display: none;
  }
}
/* -------------------------------- */
.sell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 13px;
}
.sell img {
  width: 20px;
}
.sell p {
  font-size: 14px;
  color: orange;
}
.menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
@media (max-width:627px) {
  .menus{
    font-size: 12px;
  }
  .header-menu-bar{
    gap: 10px
  }
}
.jlogo {
  width: 70px;
}
.menus-icons {
  margin-left: 20px;
  margin-right: 5px;
}

/* Profile Menu Starts here */

.profile-menu-sec {
  background-color: white;
  height: 65px;
}
.profile-menu {
  display: flex;
  flex-direction: row;
  width: 88%;
  margin: auto;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}

.profile-menu img {
  width: 140px;
}
@media (max-width: 979px) {
  .profile-menu img {
    width: 100px;
  }
}
@media (max-width: 575px) {
  .profile-menu img {
    display: none;
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  
}
.search-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 5px;
  height: 38px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
  /* width: 520px; */
  /* margin-left: 60px; */
}
.search-input{
  width: 100%;
}
.input-box{
  width: 100%;
}
@media (max-width: 1258px) {
  .search-bar {
    width: 380px;
  }
}
@media (max-width: 1000px) {
  .search-bar {
    width: 300px;
  }
}
.search-bar .search-icon {
  font-size: 20px;
  margin-right: 10px;
}
@media (max-width:1000px) {
  .search-bar .search-icon {
    font-size: 16px;
    margin-right: 10px;
  }
  
}
.search-bar input {
  font-size: 16px;
  border: none;
  width: 430px;
  outline: none;
}
@media (max-width: 1001px) {
  .search-bar input {
    font-size: 12px;
  }
}
.search .button {
  margin-left: 8px;
  border: none;
  background-color: rgb(246, 139, 30);
  box-shadow: 1px 1px 5px rgb(15, 4, 6);
  border-radius: 2px;
  margin-left: 9px;
  color: white;
  padding: 10px;
}
@media (max-width:1001px) {
  .search .button {
    margin-left: 8px;
    border: none;
    background-color: rgb(246, 139, 30);
    box-shadow: 1px 1px 5px rgb(15, 4, 6);
    border-radius: 2px;
    color: white;
  }
  
}
@media (max-width:575px) {
  .search .button {
    margin-left: 8px;
    font-size: 10px;
  }
  
}
@media (max-width:410px) {
  .search-bar{
    width: 250px;
  }
}
.navs {
  display: flex;
}
.account {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.account:hover {
  color: orangered;
}
.account:focus {
  background-color: rgb(13, 163, 177);
}
.account .account-icon {
  font-size: 20px;
  padding: 0 10px;
}
.account p {
  font-size: 18px;
}

@media (max-width:875px) {
  .navs{
    flex-direction: column;
    position: absolute;
    right: 13px;
    top: 40px;
    background: white;
    box-shadow: 1px 1px 10px rgba(104, 94, 94 , 0.4);

  }
  .account {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
  }
  .account:hover{
    background: rgb(172, 163, 163);
    color: aliceblue;
  }
  .account:focus{
    background: rgb(172, 163, 163);
    color: aliceblue;
  }
 
}
@media (max-width:1099px) {
  .account p{
    font-size: 15px;
  }
  .account .account-icon{
    font-size: 15px;
  }
  
}
.help {
  display: flex;
}

/* PreSection Starts here */


.presection-con {
  width: 88%;
  margin: auto;
}
.presection-sec {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-items: end;
  display: no;
  /* flex-wrap: wrap; */
}
.side-menu {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  padding-right: 60px;
  margin-right: 20px;
}

@media (max-width: 1165px) {
  .side-menu {
    padding-right: 10px;
  }
}
@media (max-width:620px) {
  .side-menu{
    display: none;
  }
}
.item {
  display: flex;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 13px;
}
@media (max-width: 1240px) {
  .item {
    font-size: 10px;
  }
}
.item .icon {
  margin-right: 10px;
}
.item:hover {
  color: orangered;
}
.right-menu {
  margin-left: 10px;
  width: 100px;
}
.right-img {
  padding-bottom: 10px;
}
@media (max-width: 1107px) {
  .right-img {
    width: 180px;
  }
}
@media (max-width: 848px) {
  .right-img {
    width: 150px;
  }
}
@media (max-width: 1000px) {
  .right-img {
    display: none;
  }
}
@media (max-width: 1320px) {
  .mid-menu {
    width: 600px;
  }
}
@media (max-width: 1320px) {
  .mid-menu {
    width: 500px;
  }
}
.mid-menu {
  width: 100opx;
}
.mid-img {
  width: 100%;
}
/* first section starts Here */
.firstsection-sec {
  width: 88%;
  margin: auto;
}
.con {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  /* width: 88%;
  margin: auto; */
}
.first-sec-con {
  gap: 10px;
  justify-content: space-between;
}
.first-sec-item img {
  width: 175px;
}
.first-sec-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec {
  width: 88%;
  margin: auto;
}

/* recommended section starts here */
.title {
  background-color: white;
  margin-bottom: -25px;
  padding: 5px 10px;
}

.recommended-sec {
  display: flex;
  flex-direction: column;
}
.recommended-sec-con {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  /* justify-content: flex-start; Adjust as needed */
  overflow-x: auto;
  min-width: 100%;
}
.recommended-sec-item {
  /* width: 500px; */
}
.recommended-sec-item img {
  width: 185px;
}
.img-span span {
  position: relative;
  top: -170px;
  left: 140px;
  padding: 3px;
  background-color: rgb(249, 217, 176);
  font-weight: 600;
  border-radius: 4px;
}
.recommended-sec-item .price {
  font-weight: 600;
}
.recommended-sec-item strike {
  font-weight: lighter;
  font-size: smaller;
}
.itemes:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
}
.rating {
  background-color: rgb(155, 147, 132);
  width: 100%;
  height: 7px;
  border-radius: 5px;
  position: relative;
}
.rating__before {
  content: "";
  position: absolute;
  background-color: orange;
  top: 0px;
  left: 0px;
  /* width: 20px; */
  height: 100%;
  border-radius: 5px;
}
.officailstore-con {
  margin-bottom: 10px;
}
.officailstore-con .heading {
  background-color: rgb(222, 241, 253);
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1258px) {
  .official-image {
    width: 100%;
  }
}
.writeup-con h1 {
  font-size: 20px;
  margin: 10px 0px;
}

.writeup-con p {
  font-size: 13px;
  line-height: 2;
}

.writeup-con ul {
  padding: 20px;
}
.penutltimate-sec {
  background-color: rgb(49, 49, 51);
}
.penultimate_sec {
  background-color: rgb(49, 49, 51);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 88%;
  margin: auto;
}
@media (max-width:725px) {
  .penultimate_sec{
    flex-direction: column;
    gap: 20px;
  }
}
.pen-third {
  display: flex;
  flex-direction: column;
}
.download {
  display: flex;
  font-size: 13px;
  margin-bottom: 14px;
}
.download section {
  margin-left: 15px;
}
.download section p {
  padding-bottom: 5px;
}
#l3 {
  width: fit-content;
  color: white;
  background-color: rgb(19, 18, 18);
  margin-right: 20px;
  border: 1.5px solid white;
  border-radius: 2px;
  display: flex;
  padding: 2px;
}
.download-box {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}
.apple_icon {
  font-size: 20px;
  padding: 5px;
}
.get {
  font-size: 7px;
  font-weight: 100;
}
.pen-second {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.sus {
  font-size: 10px;
  font-weight: 100;
  margin-top: 10px;
}
.input {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}
.email-box {
  border: 1px solid;
  font-size: 20px;
  background-color: white;
  padding: 8px 16px;
  border-radius: 5px;
}
.email {
  border: none;
  margin-left: 10px;
}
.env-icon {
  color: grey;
}
button.gender {
  color: white;
  background-color: #313133;
  border: 1px solid white;
  margin-left: 10px;
  padding: 11px;
  border-radius: 4px;
}
.ultimate {
  background-color: rgb(104, 94, 94);
  width: 100%;
  /* height: 700px; */
}
.sub_ultimate {
  width: 88%;
  height: 50%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
@media (max-width:979px) {
  .sub_ultimate{
    flex-direction: column;
  }
}
#u1 {
  font-size: 13px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.p1 {
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}
.p2 {
  padding: 6px 0px;
}
.ultimate2 {
  width: 88%;
  height: 30%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  gap: 30px;
}
.sec1 {
  padding: 10px;
  font-size: 20px;
}
.sec1:hover {
  color: chocolate;
}

hr.a1 {
  width: 88%;
  margin: auto;
}
.footer {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  color: white;
}
@media (max-width:350px) {
  .footer{
    font-size: 10px;
  }
}
